@import "nib";
@import "utils/normalize";
@import "utils/default";
@import "utils/units";
@import "utils/mixins";
@import "utils/icon";
@import "partials/layout";
@import "partials/list";
@import "partials/view";
@import "partials/write";
@import "partials/tag";
@import "partials/taglist";
@import "partials/home";
@import "partials/login";
@import "partials/slipp-doc";

label.error
	display: block;
	color: #f88;
	&:before
		font-family: 'batch-icons';
		speak: none;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		margin-right: .2em;
		content:'\F15A';
