@import "nib";
@import "utils/normalize";
@import "utils/default";
@import "utils/common";
@import "utils/icon";
@import "utils/units";
@import "partials/layout";
@import "partials/list";
@import "partials/view";
@import "partials/write";
@import "partials/tag";
@import "partials/taglist";
@import "partials/home";
@import "partials/login";
@import "partials/slipp-doc";
@import "partials/personalize";
@import "partials/smalltalk";

label.error
	display: block;
	color: #f88;
	&:before
		font-family: 'batch-icons';
		speak: none;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		margin-right: .2em;
		content:'\F15A';
.link-more
	@media not-desktop
		margin:0 -1em;
		display: block;
		padding: .4em 1em;
		text-align: right;
		color: #333;
		background-color: #eaeaea;
		background-image: linear-gradient(#f5f5f5, #fafafa);
		a
			color: #333;

