body
	overflow-y: scroll;
	margin: 0;
	padding: 0;

h1
	font-size: 1.8em;

code
	font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;

.container
	width: 960px;
	margin: 0 auto;
	@extend $clearfix;
	@media not-desktop
		width: auto;
		.content &
			padding: 0 1em;

.header
	position: relative;
	z-index: 1;
	height: 54px;
	line-height: 54px;
	margin-bottom: 20px;
	box-shadow: 0 0 14px rgba(0, 0, 0, .14);
	background-color: #f7f7f7;
	background-image: linear-gradient(#fafafa, #f5f5f5);
	border-bottom: 1px solid #ddd;
	.logo
		position: relative;
		z-index: 1;
		float: left;
		margin: 0;
		@media phone
			margin-left: .5em;
			margin-right: .5em;
		a
			position: relative;
			display: block;
			.bottom-strike
				position: absolute;
				left: 19px;
				top: 42px;
				display: block;
				width: 60px;
				height: 4px;
			&:hover
				.bottom-strike
					background: orange;

		img
			position: relative;
			top: -2px;
	.site-nav,
	.user-menu
		height: 54px;
		font-size: 14px;
		ul
			margin: 0;
			padding: 0;
			list-style: none;
			>	li
				float: left;
				> a
					display: inline-block;
					height: 54px;
					padding-left: 1em;
					padding-right: 1em;
					font-weight: bold;
					color: #444;
					&:hover,
					&:focus
						text-decoration: none;
						color: #000;
						background-color: #eaeaea;
						outline: none;
		.text
			@media phone
				display: none;
	.site-nav
		float: left;
		@media phone
			margin-left: 0;
		margin-left: 2em;
		.icon-list,
		.icon-wiki
			display: none;
			@media phone
				display: inline-block;
	.site-search
		float: left;
		.spacer
			display: inline-block;
			width: 1px;
			height: 18px;
			margin-left: 10px;
			margin-right: 10px;
			vertical-align: middle;
			background: #ccc;
			@media phone
				display: none;
	.user-menu
		float: right;
		margin: 0;
		padding: 0;
		> ul > li
			border-right: 1px solid #ddd;
			box-shadow: 1px 0 0 #fff;
			@media phone
				border-right: none;
				box-shadow: none;
	.link-write
		background-color: rgba(0, 85, 128, 0.1);
		transition: background-color .4s;
		&:hover
			background-color: rgba(0, 85, 128, 0.6);
			color: #fff;
	.msg-for-login
		padding-right: 1em;
		font-size: .8em;
		@media phone
			display: none;
	.user-name
		@media phone
			display: none;
	.user-thumb
		border-radius: 3px;
		margin-right: .5em;
		@media phone
			margin-left: .2em;
			margin-right: .2em;
	.user-info
		position: relative;
		@media phone
			position: static;
			a
				padding-left: .5em !important;
				padding-right: .5em !important;
	.notification-button
		display: inline-block;
		padding-left: 1em;
		padding-right: 1em;
		@media phone
			padding-left: .4em;
			padding-right: .4em;
	.notification-count
		position: absolute;
		left: 32px;
		top: 22px;
		display: inline-block;
		padding: 2px 3px;
		font-weight: normal;
		font-size: 10px;
		line-height: 1em;
		color: #fff;
		background: #E27575;
		@media phone
			left: 22px;
	.notification-layer
		display: none;
		position absolute;
		top: 100%;
		right: -1px;
		width: 30em;
		padding-bottom: 1em;
		border: 1px solid #ddd;
		border-radius: 0 0 3px 3px;
		box-shadow: 0 0 14px rgba(0, 0, 0, .14);
		font-size: .8em;
		line-height: 1.2em;
		background-color: #fff;
		@media phone
			width: 100%;
			right: 0;
			box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
		.link-to-personalize
			display: block;
			padding: .5em;
			font-weight: bold;
			font-size: 1.2em;
			border-bottom: 1px solid #ddd;
			color: #222;
			@media phone
				text-align:right;
			.icon-person
				color: #E64E4E;
			&:hover
				text-decoration: none;
				background-color: #eaeaea;
		.title
			display: block;
			padding: .5em;
			@media phone
				text-align:right;
		ul
			max-height: 200px;
			overflow-y: auto;
			margin: 0;
			padding: 0;
			border-width: 1px 0;
			border-style: solid;
			border-color: #eee;
			@media phone
				font-size: 1.2em;
				line-height: 2em;
			li
				border-top: 1px solid #eee;
				&:first-child
					border-top: 0;
			a
				display: block;
				padding: .8em .5em;
				color: #999;
				&:hover
					color: #222;
					text-decoration: none;
					background-color: #eaeaea;
	.loginout
		@media phone
			float: right;
	.loginout--logout
		@media phone
			display: none;
	.link-loginout
		padding-left: .8em;
		padding-right: .6em;
		@media phone
			padding-left: 1em;
			padding-right: 1em;
		.text
			font-size: .8em;
			@media phone
				display: none;

.footer
	position: relative;
	margin-top: 6em;
	text-align: center;
	.container
		padding: 1em 0 1.5em;
		border-top: 1px solid #ddd;
	.foot-nav
		ul
			margin: 0;
			padding: 0;
		li
			display: inline-block;
			&:before
				content:'\b7'; // mid dot
				padding-left: .2em;
				padding-right: .2em;
			&:first-child
				&:before
					display: none;
		a
			display: inline-block;
			position: relative;
			padding: 3px;
			border-radius: 3px;
			color: #000;
			&:hover
				color: #fff;
				background-color: #000;
				text-decoration: none;
	.footer-text
		margin: .5em;
		color: #999;
		font-weight: bold;
		letter-spacing: -1px;

.content-main
	float: left;
	width: 75%;
	@media not-desktop
		float: none;
		width: auto;
	.home-content &
		width: 65%;
		@media not-desktop
			float: none;
			width: auto;
	.login-content &
		width: 100%;
.content-sub
	float: right;
	width: 22%
	@media not-desktop
		width: 100%;
	.home-content &
		width: 32%;
		@media not-desktop
			width: 100%;

.pager
	height: 36px;
	margin: 18px 0;
	text-align: center;
	ul
		display: inline-block;
		*display: inline;
		/* IE7 inline-block hack */
		*zoom: 1;
		margin: 0;
		padding: 0;
		border-radius: 3px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	li
		display: inline;
		&:first-child a
			border-left-width: 1px;
			border-radius: 3px 0 0 3px;
		&:last-child a
			border-radius: 0 3px 3px 0;
	a
		float: left;
		padding: 0 14px;
		line-height: 34px;
		text-decoration: none;
		border: 1px solid #ddd;
		border-left-width: 0;
	a:hover,
	.active a
		background-color: #f5f5f5;
	.active a
		color: #999999;
		cursor: default;
	.disabled
		span,
		a,
		a:hover
			color: #999999;
			background-color: transparent;
			cursor: default;

// 구글검색
.site-search-area
	display: none;
	&.active
		display: block;
.gsc-control-cse
	padding: 0 !important;
	input
		box-shadow: none;
	input:focus,
	textarea:focus
		border-color: inherit;
		box-shadow: none;
		outline: 0;
