// # Screen Size
// : @media large-desktop
// :   ... 
screen-large-desktop = '(min-width: 1200px)'
// desktop = '(min-width: 980px)'
screen-under-desktop = '(max-width:979px)'
screen-tablet = '(min-width: 768px) and (max-width: 979px)'
screen-phone-landscape = '(max-width: 767px)'
screen-phone = '(max-width: 480px)'

font-logo-style()
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	font-weight: bold
