<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
	<jpa:repositories base-package="net.slipp.repository" factory-class="net.slipp.support.jpa.SlippRepositoryFactoryBean" />
	
	<context:component-scan	base-package="net.slipp.support.security" />
	
	<bean id="facebookConnectionFactory" class="org.springframework.social.facebook.connect.FacebookConnectionFactory">
		<constructor-arg value="${facebook.clientId}" />
		<constructor-arg value="${facebook.clientSecret}" />
	</bean>
	
	<bean id="twitterConnectionFactory" class="org.springframework.social.twitter.connect.TwitterConnectionFactory">
		<constructor-arg value="${twitter.consumerKey}" />
		<constructor-arg value="${twitter.consumerSecret}" />
	</bean>
	
	<bean id="googleConnectionFactory" class="org.springframework.social.google.connect.GoogleConnectionFactory">
		<constructor-arg value="${google.clientId}" />
		<constructor-arg value="${google.clientSecret}" />
	</bean>	
	
	<util:list id="connectionFactories">
		<ref bean="facebookConnectionFactory"/>
		<ref bean="twitterConnectionFactory"/>
		<ref bean="googleConnectionFactory"/>	
	</util:list>
	
	
	<bean id="connectionFactoryRegistry" class="org.springframework.social.connect.support.ConnectionFactoryRegistry"
		p:connectionFactories-ref="connectionFactories"
	/>
    
	<bean id="usersConnectionRepository"
		class="net.slipp.repository.user.SocialUsersConnectionRepository">
		<constructor-arg ref="socialUserRepository" />
		<constructor-arg ref="connectionFactoryRegistry" />
		<constructor-arg ref="textEncryptor" />
	</bean>

	<bean id="textEncryptor" class="org.springframework.security.crypto.encrypt.Encryptors"
		factory-method="noOpText" />
		
	<bean id="slippUserDetailsService" class="net.slipp.social.security.SlippUserDetailsService" 
		p:adminUsers="자바지기:eclipse4j:진우"
	/>
	
	<bean id="signInAdapter" class="net.slipp.social.security.SlippSecuritySignInAdapter" />
</beans>
