// MIXINS

// # Clear-fix
// : ..
$clearfix
	*zoom: 1;
	&:before,
	&:after
		content: '';
		display: table;
		line-height: 0;
	&:after
		clear: both;

// # Fly-away
// : for invisible Element (like hidden form)
$flyaway
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	font: 0/0 a;

// # normal input type
// : for normal input[type='text'], [type='password']
$normalinput
	box-sizing: border-box;
	border: 1px solid #dadada;
	border-radius: 4px;
	padding: .5em;

// # Submit-Button
$submitbtn
	padding: .5em .8em;
	border: 0 none;
	border-radius: 4px;
	color: #fff;
	background-color: #005580;
	&:hover
		background-color: lighten(@background-color, 10);
