@font-face {
	font-family: 'batch-icons';
	src:url('/resources/webfonts/batch-icons-webfont.eot');
	src:url('/resources/webfonts/batch-icons-webfont.eot?#iefix') format('embedded-opentype'),
		url('/resources/webfonts/batch-icons-webfont.woff') format('woff'),
		url('/resources/webfonts/batch-icons-webfont.ttf') format('truetype'),
		url('/resources/webfonts/batch-icons-webfont.svg#hi') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SocialFoundicons';
	src: url("/resources/webfonts/social_foundicons.eot");
	src: url("/resources/webfonts/social_foundicons.eot?#iefix") format("embedded-opentype"),
		url("/resources/webfonts/social_foundicons.woff") format("woff"),
		url("/resources/webfonts/social_foundicons.ttf") format("truetype"),
		url("/resources/webfonts/social_foundicons.svg#SocialFoundicons") format("svg");
	font-weight: normal;
	font-style: normal;
}

// Use the following CSS code if you want to use data attributes for inserting your icons
// [data-icon]:before
// 	font-family: 'batch-icons';
// 	content: attr(data-icon);
// 	speak: none;
// 	font-weight: normal;
// 	line-height: 1;
// 	-webkit-font-smoothing: antialiased;

// Use the following CSS code if you want to have a class per icon

// Instead of a list of all class selectors,
// you can use the generic selector below, but it's slower:
// [class*="icon-"]:before {

[class*='icon-']
	line-height: 1em;
	&:before
		speak: none;
		font-family: 'batch-icons';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
.icon-users:before
	content: '\F045';
.icon-list:before
	content: '\F0A9';
.icon-write:before
	content: '\F13E';
.icon-search:before
	content: '\F094';
.icon-loginout:before
	content: '\F069';
.icon-reply:before
	content: '\F009';
.icon-tag:before
	content: '\F0AD';
.icon-new-article:before
	content: '\F10B';
.icon-add-comment:before
	content: '\F003';
.icon-star:before
	content: '\F15D';
.icon-link:before
	content: '\F143';
.icon-image:before
	content: '\F040';
.icon-submit:before
	content: '\F13A';
.icon-exclamation:before
	content: '\F15A';
.icon-login:before
	content: '\F170';
.icon-signin:before
	content: '\F171';
.icon-person:before
	content: '\F046';
.icon-key:before
	content: '\F0C0';
.icon-smalltalk-expand:before
	content: '\F149';
.icon-smalltalk-msg:before
	content: '\F075';

[class*='foundicon-']
	display: inline;
	width: auto;
	height: auto;
	line-height: inherit;
	vertical-align: baseline;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat;
	&:before
		font-family: 'SocialFoundicons';
		font-weight: normal;
		font-style: normal;
		text-decoration: inherit;
.foundicon-thumb-up:before
	content: '\f000';
.foundicon-thumb-down:before
	content: '\f001';
.foundicon-rss:before
	content: '\f002';
.foundicon-github:before
	content: '\f006';
.foundicon-reddit:before
	content: '\f00c';
.foundicon-google-plus:before
	content: '\f00d';
.foundicon-facebook:before
	content: '\f003';
.foundicon-twitter:before
	content: '\f004';
