// # Screen Size
// : @media large-desktop
// :   ...
//screen-large-desktop = '(min-width: 1200px)'
desktop = '(min-width: 980px)'
not-desktop = '(max-width: 979px)'
//screen-under-desktop = '(max-width:979px)'
tablet = '(min-width: 768px) and (max-width: 979px)'
phone-landscape = '(max-width: 767px)'
phone = '(max-width: 480px)'

// # z-index
zIndex-floatingBar = 10000;
