.navbar
	.brand
		abbr[title]
			font-logo-style()
			border-bottom: none
			cursor: inherit
		.sub
			display: inline
			font-size: .8em
			letter-spacing: -1px
			@media screen-phone
				display: none
