.qna-view
	.user-thumb
		width: 50px
		height: 50px
		border-radius: 3px
	.article
		border: 5px solid #eee
		.wrap
			border: 1px solid #ddd
		.auth-info
			display: table
			width: 100%
			padding: 10px 10px 10px 10px
			background-color: #fafafa
			border-bottom: 1px solid #f5f5f5
			.author-text,
			.author-thumb
				display: table-cell
				vertical-align: middle
			.author-thumb
				width: 60px
			.author-name
				font-weight: bold
				font-size: 1.2em
			.time
				display: block
		.doc
			padding: 20px 10px
			.share
				margin-top: 2em
				clearfix()
				.sns
					float: left
					margin-right: 10px
			.util
				text-align: right
