.qna-view
	.auth-info
		display: table
		width: 100%
		padding: 10px 10px 10px 10px
		background-color: #fafafa
		border-bottom: 1px solid #f5f5f5
		.author-text,
		.author-thumb
			display: table-cell
			vertical-align: middle
		.author-thumb
			width: 60px
		.user-thumb
			width: 50px
			height: 50px
			border-radius: 3px
		.author-name
			font-weight: bold
			font-size: 1.2em
		.time
			display: block
	.doc
		.util
			text-align: right
		img
			max-width: 100%
	.article
		border: 5px solid #eee
		.wrap
			border: 1px solid #ddd
		.doc
			padding: 20px 10px
			.share
				margin-top: 2em
				clearfix()
				.sns
					float: left
					margin-right: 10px
	.qna-comment
		background-color: #eee
		padding: 30px 10px 10px
		.count
			strong
				font-size: 2em
		.auth-info
			position: relative
			.like
				position: absolute
				right: 10px
				top: 32px
				text-align: right
				font-size: 3em
				cursor: pointer
				.star
					color: #EBEE9E
					text-shadow: 0 0 2px #999
				.like-count
					color: #999
		.list
			margin: 0
			list-style: none
			> li
				margin-bottom: 10px
				padding-bottom: 10px
				border-bottom: 2px dashed #fafafa
				&:first-child
					margin-top: -10px
		.util
			clearfix()
			.btn-like
				float: left
				font-weight: bold
				.star
					color: #E4EB3D
					font-size: 1.5em
					text-shadow: 0 0 2px #000
					vertical-align: middle

