.forumView
  float: left
  width: 95%
  height: auto
  border-top: 3px solid #6f6f6f
  padding: 10px 24px 0px 15px
  .nickArea
    float: left
    width: 100%
    border-bottom: 1px solid #6f6f6f
  .nick
    float: left
    color: #4f4b4b
  .regDate
    float: right
    font-size: 14px
    font-family: verdana
  .contents
    float: left
    width: 100%
    margin-top: 20px
    word-break: break-all
    word-wrap: break-word
    color: #5c5c5c
    ul
      list-style-type: disc
      padding-left: 30px
    ol
      list-style-type: decimal
    img
      max-width: 100%
    .subject
      display: block
      margin-bottom: 20px
      font-size: 20px
      color: #5c5c5c

.qna-view
  