.home-content
	clearfix();
	width: 100%;
	.mailing
		.mailing-form
			clearfix();
			padding: 5px;
			border-radius: 5px;
			background-color: #eaeaea;
		.inp-mail
			float: left;
			width: 80%;
			padding: 10px;
			box-sizing: border-box;
			border: 1px solid #ddd;
			border-radius: 0;
			font-size: 1.2em;
			&:focus
				outline: none;
				border-color: #AAD2F7;
		.btn-submit
			float: left;
			box-sizing: border-box;
			width: 20%;
			padding: 0;
			height: 41px;
			border: 0;
			font-size: 1.2em;
			color: #eee;
			background-color: #000;
	.notice
		h1
			a
				color: #222;
		.list
			list-style: none;
			margin: 0;
			padding: 0;
			border-top: 1px solid #dadada;
			font-size: .9em;
			@media not-desktop
				margin:0 -1em;
				font-size: 1em;
			> li
				position: relative;
				padding: .5em 0;
				border-bottom: 1px solid #eaeaea;
				@media not-desktop
					padding-left: 1em;
					padding-right: 1em;
			.title
				font-size: 1.3em;
				a
					color: #222;
			.time
				color: #999;
			.cont
				margin-top: .2em;
				color: #666;
		.rss
			margin-top: 1em;
