.home-content
	@extend $clearfix;
	width: 100%;
	.notice
		h1
			a
				color: #222;
		.list
			list-style: none;
			margin: 0;
			padding: 0;
			border-top: 1px solid #dadada;
			font-size: .9em;
			@media not-desktop
				margin:0 -1em;
				font-size: 1em;
			> li
				position: relative;
				padding: .5em 0;
				border-bottom: 1px solid #eaeaea;
				@media not-desktop
					padding-left: 1em;
					padding-right: 1em;
			.title
				font-size: 1.3em;
				a
					color: #222;
			.time
				color: #999;
			.cont
				margin-top: .2em;
				color: #666;
		.rss
			margin-top: 1em;
