.home-content
	clearfix();
	@media not-desktop
		padding: 0 1em;
	.content-main
		float: left;
		width: 65%;
		@media not-desktop
			width: 100%;
	.content-sub
		float: right;
		width: 33%;
		@media not-desktop
			width: 100%;
	.qna-list
		.list
			@media not-desktop
				margin:0 -1em;
	.link-more
		@media not-desktop
			margin:0 -1em;
		a
			display: block;
			padding: .4em 1em;
			text-align: right;
			color: #333;
			background-color: #eaeaea;
			&:hover
				text-decoration: none;
				color: #fff;
				background-color: #aaa;

