.login-content
	text-align: center;
	[class*='foundicon-']
		position: relative;
		top: 3px;
		font-size: 1.2em;
	input[type='text'],
	input[type='password']
		@extend $normalinput;
		width: 100%;
		margin: .5em 0;
.login-content-title
	@media phone
		display: none;
.login-content-welcome
	margin-bottom: 2em;
	padding-bottom: 2em;
	border-bottom: 4px dashed #efefef;
	@media phone
		display: none;
.choose-login-type
	@extend $clearfix;
	position: relative;
	text-align: left;
	.divide-bar
		position: absolute;
		width: 0;
		height: 100%;
		border-width: 0 1px 0  0;
		border-style: dashed;
		border-color: #dfdfdf;
		&.left
			left: 33%;
		&.right
			right: 33%;
		@media phone
			position: static;
			width: 100%;
			height: 0;
			border-width: 1px 0 0 0;
.login-with-slipp,
.login-with-sns,
.sign-in-to-slipp
	float :left;
	width: 33%;
	box-sizing: border-box;
	padding: 1em;
	@media phone
		float: none;
		width: 100%;
.login-with-slipp-submit
	@extend $clearfix;
	text-align: right;
.login-with-slipp-submit-btn
	@extend $submitbtn;
	margin-left: .5em;
.sign-in-to-slipp
	float: right;
.sign-in-to-slipp-notice
	font-size: .9em;
	background: #f7f7c7;
	color: red;
	margin-top: .5em;
	padding: .5em;
	border-radius: 4px;
.sign-in-to-slipp-btn
	@extend $submitbtn;
	width: 100%;
	background-color: #2BB45D;
	&:hover
		background-color: lighten(#2BB45D, 10);
.sign-in-with-sns
	width: 30%;
	margin: 0 auto;
	@media phone-landscape
		width: 100%;
.sign-in-with-sns-submit-btn
	@extend $submitbtn;
	width: 100%;
	background-color: #2BB45D;
	&:hover
		background-color: lighten(#2BB45D, 10);
.login-with-sns
	text-align: center;
.btn-login-facebook,
.btn-login-twitter,
.btn-login-google
	width: 10em;
	margin: 0 .4em;
	padding: .4em 0;
	border: 0;
	border-radius: 3px;
	text-align: center;
	font-size: 1.2em;
	background-color: transparent;
	@media phone-landscape
		width: 100%;
		margin: .5em 0;
	&:hover
		color: #fff;
.btn-login-facebook
	&:hover
		background-color: #3B5998;
.btn-login-twitter
	&:hover
		background-color: #00A0D1;
.btn-login-google
	&:hover
		background-color: #E94B35;
