.person-content
	padding-top: 2em;
	input[type='text'],
	input[type='password']
		normalinput();
		margin: .5em 0;
.person-info
	clearfix();
.person-info-thumb
	float: left;
	margin-right: 1em;
	border-radius: 6px;
	border: 3px solid #dfdfdf;
.person-info-text
	float: left;
	margin-right: 1em;
.person-info-label
	display: inline-block;
	width: 3.2em;
	color: #999;
.person-info-name
	margin-top: 0;
	margin-bottom: .2em;
	font-size: 2em;
.person-info-join,
.person-info-sns
	margin: .5em 0;
	border-bottom: 1px dashed #dfdfdf;
.person-info-sns
	a
		text-decoration: none;
		color: #000;
		font-size: 1.2em;
.person-info-util
	float: left;
	background-color: #f7f7f7;
	padding: 1em;
	.bar
		color: #999;
		padding:0 .4em;
.person-articles
	clearfix();
	margin-top: 1em;
.person-articles-type-select
	> a
		display: inline-block;
		padding: .2em .4em;
		font-size: 1.2em;
		text-decoration: none;
		color: #222;
		&:hover
			background-color: #efefef;
		&.active
			background-color: #eaeaea;
			&:before
				content: '✔ ';
.person-answers
	float: left;
.person-questions
	float: right;
.person-answers,
.person-questions
	width: 48%;
	h1
		font-size: 1.4em;
	@media not-desktop
		float: none;
		width: 100%;
.person-change-account-setting,
.person-change-pw
	h1
		font-size: 1.4em;
.person-change-account-setting-form,
.person-change-pw-form
	padding-top: 1em;
.person-change-account-setting-label,
.person-change-pw-label
	margin-top: 1em;
	margin-bottom: 0;
.person-change-account-setting-submit
	submitbtn();
	margin-top: 1em;
.person-change-pw-submit
	submitbtn();
	margin-top: 1em;
	background-color: #801A00;
	&:hover
		background-color: lighten(#801A00, 10);
