.msg-to-login
	a
		text-decoration: underline;

.best-article-label
	margin-bottom: 1em;
	strong
		border-bottom: 1px solid #daa9a9;
		font-size: 1.2em;

.qna-comment
	.article
		border-bottom-width: 1px;
		&.best-article
			border-bottom-width: 2px;
			.btn-like-article
				top: 108px;

.qna-comment-count
	margin: 0;
	padding: 1em 0 0;
	font-weight: bold;
	font-size: 1.2em;

.btn-like-article
	position: absolute;
	top: 60px;
	width: 40px;
	padding: 0;
	margin: 0;
	border: 0;
	background-color: transparent;
	opacity: .4;
	transition: opacity .4s;
	&:hover
		opacity: 1;
	&.fixed
		position: fixed;
		@media phone
			position: absolute;
	@media phone
		top: 10px !important;
		right: 0;
	.icon-star
		position: absolute;
		left: 0;
		top: 0;
		font-size: 3em;
		color: darken(#F1EA91, 10);
	.like-count
		position: relative;
		z-index: 1;
		text-align: right;
		padding-top: 1em;
		display: block;
		text-align: center;
		text-shadow: 0 0px 3px white;
		color: #000;
	.txt
		font-size: 0;

.link-back-to-list
	padding: .4em .8em;
	border-radius: 4px;
	&:hover
		text-decoration: none;
		color: #fff;
		background-color: #005580;

.view-content
	.floating
		> section
			margin-bottom: 2em;
			> h1
				margin-bottom: 0;
				font-size: 1.2em;
			> div
				margin: .5em 0;
