.view-content
	.content-main
		padding: 5px;
		// background-color: #eee;
		@media not-desktop
			margin-left: -1em;
			margin-right: -1em;
	.article
		margin-bottom: 1em;
		border: 1px solid #ddd;
		border-radius: 5px;
		background-color: #fff;
	.article-header
		display: table;
		width: 100%;
		box-sizing: border-box;
		border-radius: 5px 5px 0 0;
		padding: 10px;
		background-color: #fafafa;
		border-bottom: 1px solid #eee;
	.article-header-text,
	.article-header-thumb
		display: table-cell;
		vertical-align: middle;
	.article-header-thumb
		width: 60px;
	.article-author-thumb
		width: 50px;
		height: 50px;
		border-radius: 3px;
	.article-author-name
		font-weight: bold;
		font-size: 1.2em;
	.article-header-time
		display: block;
		color: #666;
		&:hover
			text-decoration: none;
			.icon-link
				color: #3aa;
	.article-doc
		padding: 0 1em;
		img
			max-width: 100%;
	.article-doc-util
		text-align: right;
	// .qna-comment
	// 	.article
