.article-title
	border-bottom: 1px solid #dadada;
.form-write
	margin: 1em 0;
	.title-write
		margin-bottom .5em;
		font-weight: bold;
		font-size: 1.2em;
	.box-input-line
		margin: 1em 0;
		input[type='text']
			width: 100%;
			box-sizing: border-box;
			border: 1px solid #dadada;
			border-radius: 4px;
			padding: .5em;
	.inp-title
		font-weight: bold;
		font-size: 1.25em;
	.box-write
		border: 1px solid #dadada;
		border-radius: 4px;
		&.focused
			border-color: #aad2f7;
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	.head-write
		padding: .5em;
		border-bottom: 1px solid #dadada;
		border-radius: 4px 4px 0 0;
		background-color: #ededed;
		background-image: linear-gradient(#fafafa, #f5f5f5);
		.btn-mode-write,
		.btn-mode-preview
			display: inline-block;
			padding: 4px 6px;
			border-radius: 3px;
			color: #666;
			&.active
				background-color: #D1D1D1;
	.tf-write
		width: 100%;
		padding: .5em;
		display: block;
		box-sizing: border-box;
		border: 0 none;
		box-shadow: none;
		&:focus
			border-color: none;
			box-shadow: none;
	.foot-write
		text-align: right;
		padding: .5em;
		border-top: 1px solid #dadada;
		border-radius: 0 0 4px 4px;
		background-color: #ededed;
		background-image: linear-gradient(#fafafa, #f5f5f5);
		.link-to-md
			text-decoration: underline;
	.submit-write
		text-align: right;
		margin: .5em 0;
		.msg-send-to-facebook
			margin-right: 1em;
			@media phone
				display: block;
				margin-right: 0;
		.btn-submit
			padding: .4em .8em;
			border: 0 none;
			border-radius: 4px;
			color: #fff;
			background-color: #005580;
			&:hover
				background-color: lighten(@background-color, 10);
.form-fileupload
	display: inline-block;
	padding: .5em;
	@media phone
		display: none;
	.btn-fileupload
		box-shadow: none;

// jQuery auto-complete
.ac_results
	box-sizing: border-box;
	padding: 0;
	border-width: 0 1px 1px;
	border-style: solid;
	border-color: #aad2f7;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	border-radius: 0 0 4px 4px;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
	ul
		width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;
	li
		margin: 0px;
		padding: .5em;
		cursor: default;
		display: block;
		/*
		if width will be 100% horizontal scrollbar will apear
		when scroll mode will be used
		*/
		/*width: 100%;*/
		// font-size: 12px;
		font-size: .9em;
		/*
		it is very important, if line-height not setted or setted
		in relative units scroll will be broken in firefox
		*/
		line-height: 1.2em;
		overflow: hidden;
.ac_loading
	background: white url('/resources/images/indicator.gif') right center no-repeat;
//.ac_even
//.ac_odd
.ac_over
	background-color: lighten(#005580, 20);
	color: white;

// markItUp
.box-write
	.markItUp
		width: auto;
	.markItUpContainer
		padding: 0;
		border: 1px solid #ddd;
		background: none;
	.markItUpHeader
		clearfix();
		padding: 4px;
		border-bottom: 1px solid #ddd;
		background-color: #efefef;
		ul
			a
				border: 1px solid transparent;
				border-radius: 3px;
				background-position: center;
				&:hover
					border-color: #999;
					background-color: #fff;
			.markItUpSeparator
				margin: 4px 4px 0;
	.markItUpEditor
		box-sizing: border-box;
		width: 100%;
		height: auto;
		border: 0;
		&:focus
			box-shadow: none;
	.markItUpFooter
		display: none;
	.markItUpPreviewFrame
		margin: 0;
		border-width: 1px 0 0;
		border-style: solid;
		border-color: #ddd;
.markItUpInlineUpload
	position: absolute;
	margin: 33px 0 0;
	border-width: 0 1px 1px 0;
	border-style: solid 
	border-color: #ddd;
	box-shadow: 0 0 30px #ddd;
	background-color: #fff;
	.inline_upload_form
		padding: 1em;
	.inline_upload_close
		position: absolute;
		right: 5px;
		top: 5px;
		width: 16px;
		height: 16px;
		margin-top: 4px;
		background: url(/resources/images/markitup/close.png) 0 0 no-repeat;
		cursor: pointer;
	.inline_upload_iframe
		display: none;
	.inline_upload_submit
		display: block;
		width: 100%;
		margin: .4em 0;
	.text
		margin: 0;
