@import "nib"
@import "utils/units"
@import "partials/list"
@import "partials/view"
@import "partials/comment"
@import "partials/navbar"
@import "partials/tag"
@import "sections/main"
@import "sections/qna"
.button-qna
	width: 27%
	float: right
	margin: 5px 0 10px 0
	
label.error
	color: orange

.rss
	float: right
	padding: 0 10px

.follow
	width: 100%
	padding: 30px 0 10px 0
	overflow: hidden
	border-bottom: 1px solid #6f6f6f
	.tags
		float: left
		color: #5ebeda
		margin: 0 3px 0 10px
		font-size: 20px
	.count
		float: right
		margin: 2px 0 0 10px
		color: #4b4b4b
		strong
			color: #fe6b12

.snsIcon
	width: 73%
	float: left
	margin: 5px 0 10px 0
	.twitter
		float: left
	.googleplus
		float: left
	.facebook
		float: left
