/* Threads */
.button-thread { width:800px; float:left;}
.button-thread a { float:right; margin:10px 0 10px 5px; background: url(/public/images/img02.gif) repeat-x left top; padding: 1px 10px; text-decoration: none; font-size: 14px;	color: #FFFFFF; }

.paging-thread { width:800px; float:left; }
.paging-thread .prev { float:right; height:auto; padding:0 3px 0 3px; }
.paging-thread .next { float:right; height:auto; padding:0 3px 0 3px; }

.forumTop { float:left; width:800px; height:auto; margin-bottom:10px }
.create-button a { float:right; margin:0 0 10px 5px; background: url(/public/images/img02.gif) repeat-x left top; padding: 1px 10px; text-decoration: none; font-size: 14px;	color: #FFFFFF; }
.rss { float:right; padding: 0 10px}

/* forum list */
.forumList { float:left; width:800px; height:auto; border-top:3px solid #6f6f6f; margin-bottom:10px }
.forumList .forum { width:770px; height:auto; overflow:hidden; border-bottom:1px solid #dbdbdb; padding:17px 15px 8px 15px; }
.forumList .forum .list  { float:left;width:500px; margin:0 0 0 0 }
.forumList .forum .list .subject { display:block; width:500px; overflow:hidden;height:18px;margin-bottom:10px;text-overflow:ellipsis;-o-text-overflow:ellipsis; color:#717171 }
.forumList .forum .list .subject a { color:#717171 }
.forumList .forum .list .subject,x:-moz-any-link,x:default{white-space:normal;word-wrap:break-word} /* Firefox 에서 줄 바꿈이 가능하도록 변경 */
*+html .forumList .forum .list .subject {white-space:nowrap} /* 위 행이 IE7에도 적용되므로 IE7에만 줄 바꿈이 불가능하도록 다시 복원 */
.forumList .forum .nickArea { float:left; width:130px; text-align:right;}
.forumList .forum .regDate { float:right; width:130px; text-align:right; font-size:12px; font-family:verdana; }
.forumList .list .cont { display:block; height:35px; margin-bottom:8px; overflow:hidden; }
.forumList .count .tags strong { color:#5ebeda; margin-right:5px; font-size:16px }
.forumList .count .countAnswer { float:right; padding-left:19px; color:#545454; margin-right:5px; font-size:14px }
.forumList .count .countAnswer strong { color:#fe6e5f; font-size:14px }

/* forum view */
.forumView { float:left; width:770px; height:auto; border-top:3px solid #6f6f6f; margin-top:24px; padding:10px 24px 0px 15px }
.forumView .nickArea { float:left; width:770px; border-bottom:1px solid #6f6f6f;}
.forumView .nick { float:left; color:#4f4b4b }
.forumView .regDate { float:right; font-size:14px; font-family:verdana; }
.forumView .cont { float:left; width:770px; margin-top:20px; word-break:break-all; word-wrap:break-word; color:#5c5c5c; border-bottom:1px solid #6f6f6f; }
.forumView .cont img { max-width:770px; }
.forumView .cont .subject { display:block; margin-bottom:20px; font-size:20px; color:#5c5c5c }
.forumView .cont ul { list-style-type:disc; padding-left:30px;  }
.forumView .cont ol { list-style-type:decimal;  }

.follow { width:770px; margin:0 0 25px 5px; overflow:hidden; }
.follow .tags strong { float:left; color:#5ebeda; margin:0 3px 0 10px; font-size:20px }
.follow .count { float:right; margin:2px 0 0 10px; color:#4b4b4b; }
.follow .count strong { color:#fe6b12; }

.snsIcon { width:770px; float:left; margin:10px 0 10px 5px; }
.snsIcon .twitter { float:left; }
.snsIcon .googleplus { float:left; }
.snsIcon .facebook { float:left; }


.comment { width:770px; height:auto; overflow:hidden; border:1px solid #e2e2e2; padding:0 24px 0 19px; margin-bottom:20px;}
.comment .commentList { float:left; height:auto; overflow:hidden; padding:20px 0 20px 0; border-bottom:1px solid #e2e2e2; margin-bottom:-1px; }
.comment .commentList .cont { float:left; width:770px; margin:0 35px 0 0; word-break:break-all; word-wrap:break-word; color:#000000  }
.comment .commentList .cont a { color:#6d8da5 }
.comment .commentList .cont-support { float:left; width:770px; margin:0 35px 0 0; word-break:break-all; word-wrap:break-word; color:#000000  }
.comment .commentList .button-answer { width:585px; float:left;}
.comment .commentList .button-answer a { margin:10px 0 10px 5px; background: url(/public/images/img02.gif) repeat-x left top; padding: 1px 10px; text-decoration: none; font-size: 14px;	color: #FFFFFF; }
.comment .commentList .user-info { float:left; width:150px; overflow:hidden; }
.comment .commentList .user-nickname { display:block; margin:0 10px 10px 10px; color:#545454; font-size:14px }
.comment .commentList .user-action-time { display:block; margin:0 10px 0 10px; color:#545454; font-size:14px }
