/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a {
	background-image:url(/resources/images/markitup/h1.png); 
}
.markItUp .markItUpButton2 a {
	background-image:url(/resources/images/markitup/h2.png); 
}
.markItUp .markItUpButton3 a {
	background-image:url(/resources/images/markitup/h3.png); 
}
.markItUp .markItUpButton4 a {
	background-image:url(/resources/images/markitup/h4.png); 
}
.markItUp .markItUpButton5 a {
	background-image:url(/resources/images/markitup/h5.png); 
}
.markItUp .markItUpButton6 a {
	background-image:url(/resources/images/markitup/h6.png); 
}
.markItUp .markItUpButton7 a {
	background-image:url(/resources/images/markitup/paragraph.png); 
}

.markItUp .markItUpButton8 a {
	background-image:url(/resources/images/markitup/bold.png);
}
.markItUp .markItUpButton9 a {
	background-image:url(/resources/images/markitup/italic.png);
}
.markItUp .markItUpButton10 a {
	background-image:url(/resources/images/markitup/stroke.png);
}

.markItUp .markItUpButton11 a {
	background-image:url(/resources/images/markitup/list-bullet.png);
}
.markItUp .markItUpButton12 a {
	background-image:url(/resources/images/markitup/list-numeric.png);
}

.markItUp .markItUpButton13 a {
	background-image:url(/resources/images/markitup/picture.png); 
}
.markItUp .markItUpButton14 a {
	background-image:url(/resources/images/markitup/link.png);
}

.markItUp .markItUpButton15 a	{
	background-image:url(/resources/images/markitup/quotes.png);
}
.markItUp .markItUpButton16 a	{
	background-image:url(/resources/images/markitup/code.png);
}

.markItUp .preview a {
	background-image:url(/resources/images/markitup/preview.png);
}